parameters:
    autoload_files:
        - vendor/drupal/core/includes/bootstrap.inc
    paths:
        - src

includes:
	- vendor/wieni/wmcodestyle/phpstan/custom-rules.neon
	- vendor/wieni/wmcodestyle/phpstan/php-project.neon
