includes:
	- vendor/wieni/wmcodestyle/phpstan/custom-rules.neon
	- vendor/wieni/wmcodestyle/phpstan/drupal-module.neon

parameters:
    ignoreErrors:
        - '#invalid typehint type Drupal\\wmpage_cache\\Event\\MainEntityAlterEvent#'
